.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 1.2rem;
  padding: 1.6rem;
}

.container h3{
  width: 100%;
  font-weight: 600;
  font-family: var(--franklin-font);
  font-size: 1rem;
}

.news-article {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 0.8rem;
}

.news-article p{
  padding: 0;
  margin: 0;
}

.news-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.news-title{
  max-width: 80%;
/* 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */

  font-family: var(--franklin-font);  
  font-weight: 600;
}

.news-date{
  display: flex;
  justify-content: flex-end;
}

.news-footer{
  color: gray;
  padding: 1rem;
  font-size: 0.6rem;
  font-style: italic;
}

@media only screen and (max-width: 700px) {  
  .news-header{
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .news-title{
    width: 100%;
  }
}