.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: white;
  overflow-y: scroll;
  box-sizing: border-box;
}

.container{
  width: 100vw;
  height: 100%;
  padding: 1.2rem;
  min-height: 100vh;
  max-width: 900px;
  box-sizing: border-box;
}

.header{
  width: 100%;
  padding: 0 1.6rem;
  padding-bottom: 1rem;
  position: relative;
}

.header-container {
  width: 100%;
  height: 5rem;
  padding: 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent),
    url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-hidden-thumbnail{
  width:0;
  height:0;
}

.header-title{
  color: white;
  font-size: 1rem;
  font-family: var(--franklin-font);
  font-weight: 700;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header-button{
  border: solid 1px;

  padding: 1rem 0;
  background-color: transparent;
  color: white;
  border: none;
  transition: 0.5s;
  font-family: var(--franklin-font);
  font-size: 0.8rem;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 1.0);
}

.header-button:hover{
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  text-decoration: underline;
}

.header-button-active{
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.body{
  width: 100%;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: black;
  animation: fadeIn 0.2s ease-in-out forwards;
}

.footer{
  width: 100%;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: grey;
  font-size: 0.6rem;
}

@media only screen and (max-width: 700px) {

  .container{
    padding: 0.4rem;
  }

  .header{
    padding-bottom: 0;
  }

  .header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;

    gap: 0.6rem;
    padding: 1.2rem;

    align-items: center;
    justify-content: space-between;
  }

  .header-title{
    width: 100%;
    text-align: start;
  }

  .header-button{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem 0;
  }
}