/* global items */

.container{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  padding: 1.6rem;
}

.article-divider-container{
  width: 100%;
  padding: 0 1.6rem;
  height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-divider{
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}


/* cover letter items */

.cover-letter{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  font-size: 1rem;
} 
.cover-letter-description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  grid-column: span 2;
  line-height: 1.2rem;
  font-size: 0.8rem;
}
.cover-letter-description h3{
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--franklin-font);
}
.cover-letter-description p{
  line-height: 1.2rem;
  font-size: 0.8rem;
  margin: 0;
}
.cover-letter-photo{
  width: 100%;
  padding: 0rem;
}
.cover-letter-link{
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.cover-letter-link h3{
  font-weight: 600;
  font-family: var(--franklin-font);
  font-size: 1rem;
}
.cover-letter-link-item{
  font-size: 0.7rem;
  border: 1px solid;
  border-color: black;
  padding: 0.2rem 1rem;
  transition: 0.3;
}
.cover-letter-link-item u{
  text-decoration:none;
}

.cover-letter-link-item:hover{
  text-shadow: 0 0px 2px rgba(0,0,0, 0.2);
  cursor: pointer;
}
.cover-letter-aside{
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .cover-letter{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    gap: 1.2rem;
    font-size: 1rem;
  }
  .cover-letter-description{
    width: 100%;
    order: 1;
  }
  .cover-letter-link{
    font-size: 0.8rem;
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    order: 2;
  }
  .cover-letter h3{
    font-size: 0.8rem;
  }
  .cover-letter-aside{
    flex: 1 1 45%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    order: 3;
  }
  .cover-letter-photo{
    width: 100%;
    max-width: 150px;
  }
  .cover-letter-link-item{
    font-size: 0.7rem;
  }
}

/* news items */

.news{
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 1.2rem;
}

/* projects items */

.projects{
  width: 100%;
  display: flex;
  flex-direction: column;

  /* padding: 0 1.6rem; */
  /* padding: 1.6rem; */
  gap: 1.2rem;
}

.publications{
  width: 100%;
  display: flex;
  flex-direction: column;

  /* padding: 0 1.6rem; */
  /* padding: 1.6rem; */
  gap: 1.2rem;
}